.flyyr-detail-grid {
    display: grid;
    gap: 1.5 vh;
}

.flyyr-image {
    
}

.flyyr-info {
    
}

@media (max-width: 40em) {
    height: 75vh;
    overflow-y: scroll;
}
@media (min-width: 40em) {
    .flyyr-detail-grid {
        grid-template-columns: 1fr 1fr;
        padding: 5vh 15vh;
    }
}

